<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{siteTitle}}</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<!--<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">-->
<!--<link rel="stylesheet" href="/css/jquery.circliful.css">-->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/animated-weather.css">